.form{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10% 25%;
    box-sizing: border-box;
    margin: auto;
}
.form form{
    background-color: #f2f2f2;
    width: 100%;
    padding: 36px 64px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}
.titulo{
    font-size: 32px;
    font-weight: 400;
    font-family: Prata;
}